.navbar {
  background: linear-gradient(135deg, #003366, #00509e);
  color: #fff !important;
  position: fixed;
} 

.container {
  color: #fff !important;
}

.container img {
  width: 50px;
  margin-right: 15px;
}

.navbar-brand {
  color: #fff;
}

.nav_item {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.navbar-brand {
  columns: #fff !important;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  gap: 15px; /* Space between grid items */
  margin-top: 20px; /* Optional: Add some spacing above */
}
